*{
  font-family: 'Gothic A1', sans-serif;

}
body {
  font-size: 20px;
}

/* container 작업 */
container.center {
  width: 50%;
  height: 800px;
  background: #ccc url('/Jefeel/world_map.jpg') no-repeat center/cover;
  border: 1px solid #000;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
.center .setting {
  /* background: #adff2f; */
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-around;
}
.center .setting .setting-box {
  /* background: skyblue; */
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.center .setting .setting-box a {
  /* border: 1px solid #000; */
  border-radius: 20px;
  box-shadow: 0 5px 5px -5px #333;
  /* display: inline-block; */
  background: rgba(255, 255, 255, 0.3);
  /* background: red; */
  padding: 15px;
}

.center #home {
  position: absolute;
  bottom: 20%;
  border-radius: 20px;
  box-shadow: 0 5px 5px -5px #333;
  background: rgba(255, 255, 255, 0.3);
  width: fit-content;
  padding: 15px;
}
/* question파트 */
#question {
  /* border: 1px solid #000; */
  /* background: url('https://upload.wikimedia.org/wikipedia/commons/7/7f/Rotating_earth_animated_transparent.gif')
  no-repeat center/contain; */
  background: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmMwYWU1YWE0MWFmMmU3NThkY2FiNTJkNjU3MWI5NDc1MmFiMjZlZSZjdD1z/fU4rqm0AHZtqGED9m4/giphy.gif')
  no-repeat center/contain;
  width: 70%;
  height: 50%;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

#question .quizAnswerCheck {
  /* background: lightblue; */
  width: 80%;
  height: 100%;
  margin: 30px auto;
  padding: 30px;
  display: flex;
  /* display: none; */
  flex-direction: column;
  position: relative;
  justify-content: center;
  z-index: 1;
}
#question .quizAnswerCheck #openAnswer{
  position: relative;
  margin: 5px auto;
  /* background: red; */
  padding: 30px;
  width: fit-content;
  /* height: 50%; */
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  color: #fff;
}
#question .quizAnswerCheck #nextQuiz{
  width: 100px;
  height: 50px;
  background: yellowgreen;
  margin: 0 auto;
  cursor: pointer;
  /* display: none; */
}
.ask {
  width: 60%;
  height: 100px;
  /* border: 1px solid #000; */
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  margin: 10px auto;
  text-align: center;
  padding: 15px;
  padding-top: 25px;
  font-size: 2.3em;
}

/* answer파트 */
#answer {
  width: 60%;
  height: 20%;
  background: rgba(255, 255, 255, 0.3);
  /* border: 1px solid #000; */
  /* margin-top: 30px; */
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

#answer .box {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
  padding: 0 10px;
  align-items: center;
}

#answer .box input {
  border-radius: 5px;

  box-shadow: 0 5px 5px -5px #333;

  -webkit-appearance: none;

  -moz-appearance: none;

  -o-appearance: none;

  appearance: none;

  width: 50%;
  height: 30px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
}

#answer .box #answerCheck {
  width: 20%;
  height: 30px;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px -5px #333;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;

}

#answer .box .count {
  /* background: tomato; */
  width: fit-content;
  justify-content: left;
}

container .buttonbox {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 45%;
  width: fit-content;
  text-align: center;
  border-radius: 20px;
  padding: 15px;
  display: block;
  font-size: 2.5em;
}

/* 추가되는 속성 */
.out{
  /* display: block; */
  /* display: inline; */
  /* display: flex; */
  /* background: skyblue; */
  z-index: -1; 
}